
    <header>
        <img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px">
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <!-- SITE CONTENT -->
    <div class="wrapper">
        <section class="titlebar">
            <h1 class="page-title"><span>Change </span>Password</h1>
            <div id="particles-js"></div>
        </section>
        
        <hr class="col-md-6 bottom_60">

        <div class="cont">
            <section class="contact col-md-8 offset-md-2 top_90">
                <div class="contact-form top_90">

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger text-center">{{msg}}</div>
      {{/each}}
{{/if}}            
                    <form class="row" action ="/password/get-password/{{Clientuser._id}}/change" method="post" >
                        <div class="col-md-12">
                            <input class="inp" type="text" placeholder="Username" name="username" id="username" autocomplete="off" value="{{Clientuser.username}}" readonly>
                        </div>                 
                        <div class="col-md-12">
                            <input class="inp" type="text" placeholder="Mobile No" name="mobile" id="mobile" value="{{Clientuser.mobile}}" readonly>
                        </div>           
                        <div class="col-md-12">
                            <input class="inp" type="password" placeholder="New Password" name="password" id="password" autocomplete="off">
                        </div>       
                        <div class="col-md-12">
                            <input class="inp" type="password" placeholder="Repeat Password" name="repeat" id="repeat" autocomplete="off">
                        </div>
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Conform Username" class="site-btn2">
                        </div>
                    </form>   
                </div>



            </section>

        </div> <!-- cont end -->
    </div> <!-- wrapper end -->
