<!-- HEADER -->
    <header>
        <img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px">
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <!-- FULL MENU -->

    <!-- SITE CONTENT -->
    <div class="wrapper">
        <section class="home">
            <div id="particles-js"></div>
            <div class="home-content">
                <h1 class="hero-title">A Branding Company with a big Resume <br><span>and a bold Attitude</span></h1>
                <p class="top_45">For Stunning <span class="element" data-text1="Designs." data-text2="Videos." data-text3="Ads." data-text4="Scripts." data-text5="Promotions."  data-loop="true" data-backdelay="1500"></span></p>
                <div class="social">
                    <a class="text">Social Links</a>
                    <div class="line"></div>
                            <a href="https://www.facebook.com/PromoWorksOfficial/"><i class="fa fa-facebook"></i>  </a>
                            <a href="https://twitter.com/promoworkslive"><i class="fa fa-twitter" aria-hidden="true"></i>  </a>
                            <a href="https://www.instagram.com/promoworksofficial/"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
                            <a href="https://www.pinterest.com/promoworkslive/"><i class="fa fa-pinterest" aria-hidden="true"></i>  </a>
                            <a href="https://www.youtube.com/channel/UCj7N5iKpYVofrV63tqP2hjg"><i class="fa fa-youtube" aria-hidden="true"></i>  </a>
                </div>
            </div>
        </section>

    </div> <!-- wrapper end -->

